.hand {
  display: flex;
  flex-direction: row;
  justify-content: center;

  overflow: hidden;

  position: fixed;
  left: 0; right: 0; bottom: 0;

  // Add the rotation logic into the component
  // $total: 7;
  // @for $i from 0 through (6) {
  //   $rotationRange: 50;
  //   $rotation: ($i - ($total - 1) / 2) / ($total - 2) * $rotationRange;
  //   $offsetRange: 80;
  //   $offset: abs(($i - ($total - 1) / 2) / ($total - 2) * $offsetRange);

  //   app-card:nth-child(#{$i + 1}) {
  //     transform: translateY($offset * 1px) rotate($rotation * 1deg);
  //   }
  // }

  app-card {
    cursor: move;
    transform: scale(0.75, 0.75);
  }

  &.cdk-drop-list {
    background-color: green;
  }

  &.cdk-drag-preview {
    box-sizing: border-box;
    background-color: red;
    // The shadow has to be reworked but not removed
    // border-radius: 4px;
    // box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                // 0 8px 10px 1px rgba(0, 0, 0, 0.14),
                // 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-placeholder {
    opacity: 0;
    // width: 0;
  }

  &.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  &.cdk-drop-list-dragging app-card:not(.cdk-drag-placeholder) {
    background-color: green;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}
