.hand {
  background-color: violet;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;

  position: fixed;
  left: 0; right: 0; bottom: 0;

  // Add the rotation logic into the component
  // $total: 7;
  // @for $i from 0 through (6) {
  //   $rotationRange: 50;
  //   $rotation: ($i - ($total - 1) / 2) / ($total - 2) * $rotationRange;
  //   $offsetRange: 80;
  //   $offset: abs(($i - ($total - 1) / 2) / ($total - 2) * $offsetRange);

  //   app-card:nth-child(#{$i + 1}) {
  //     transform: translateY($offset * 1px) rotate($rotation * 1deg);
  //   }
  // }

  app-card {
    cursor: move;
    // transform: scale(0.75, 0.75);
  }
}

