<div class="card" 
  [style.background-image]="'url(' + image +')'"
  [style.background-position]="position"
>
  <app-box-title 
    [text]="name" 
    [theme]="theme"
  >
  </app-box-title>

  <div class="checks">
    <app-box
      [text]="'Might'" 
      [value]="might"
      [theme]="theme"
    >
    </app-box>
    <app-box
      [text]="'Might'" 
      [value]="might"
      [theme]="theme"
    >
    </app-box>
  </div>

  <div class="description">
    <app-box-description
      [description]="description"
      [theme]="theme"
    >
    </app-box-description>
  </div>
</div>