@import '../../assets/style/theme.scss';

div.outer-box {
  padding: 0.4em 0;
  margin: 0 -1em 1em;
  background-color: var(--theme-background-color);
  transform: skewY(-1deg);

  div.inner-box {
    padding: 0.2em;
    border-top: 0.1em solid var(--theme-lightest-color);
    border-bottom: 0.2em solid var(--theme-lightest-color);
    transform: skewY(1deg);
    color: #fff;
    font-weight: bolder;
    text-align: center;
    background-image: linear-gradient(
      135deg,
      var(--theme-main-color) 70%, 
      var(--theme-secondary-color) 30%
      );
  }
}